@import url('./styles/font.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(145deg, #ffe9f4 0%, #ffd9e8 100%);
}

* {
  font-family: 'Pacifico';
}

#root {
  height: 100vh;
}